.adress {
  margin-bottom: 8px;
  font-size: 14px;
  line-height: 1.7;
  color: var(--accent-text-color);
  font-style: normal;

  @media screen and (min-width: 768px) {
    // display: block;
    // margin-right: auto;
    // margin-left: auto;
    // text-align: center;
  }
}
