/* button */
.button {
  display: inline-block;
  border-radius: 4px;
  border: 0px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  font-family: inherit;
  cursor: pointer;
}
.button--secondary {
  color: var(--title-text-color);
  background: var(--secondary-btn-bg);
  padding: 6px 22px 6px 22px;
  min-width: 73px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-text-color);
    background: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.button--primari {
  color: var(--accent-text-color);
  background: var(--accent-color);
  padding: 10px 32px 10px 32px;
  min-width: 200px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background: var(--accent-primari-btn-bg);
  }
}
/* button-subscribe*/
.button-subscribe {
  display: inline-flex;
  align-items: center;
  padding: 10px 28px;

  &::after {
    top: 0px;
    right: 0px;
    margin-left: 10px;
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url(../images/icon_form/send.svg);
  }
}

/* button-close */
.btn-close {
  position: absolute;
  display: block;
  top: 0px;
  right: 0px;

  margin-top: 8px;
  margin-right: 8px;

  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 8px;

  &:hover .icon-close,
  &:focus .icon-close {
    fill: var(--accent-color);
  }
}

.icon-close {
  margin: 0px;
  padding: 0px;
  min-width: 11px;
  min-height: 11px;
  fill: var(--title-text-color);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* button send */
.btn-send {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 10px 55px 10px 55px;
  min-width: 200px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button-menu {
  position: relative;
  z-index: 100;
  display: inline-block;
  margin: 0;
  padding: 0;
  border: none;

  background-color: transparent;
  margin-left: auto;

  @media screen and (min-width: 768px) {
    display: none;
  }
}
