/* Контакты */

.contacts-header {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.contacts-header__item:not(:last-child) {
  margin-right: 50px;
}

.contacts-header__link {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primari-text-color);
  text-decoration: none;
  align-items: center;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.contacts-header .icon {
  fill: currentColor;
  margin-right: 10px;
}
