/* Преимущества */
.features {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
  }
}

.features__topic {
  color: var(--title-text-color);
  margin-bottom: 10px;

  @media screen and (max-width: 767.98px) {
    text-align: center;
  }
}

.features__list {
  margin: 0px;
  padding: 0px;
  @media screen and (min-width: 480px) {
  }

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px;
    margin-top: -30px;
    margin-left: -30px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px;
    margin-top: -30px;
    margin-left: -30px;
  }
}

.features__item {
  // margin-top: 30px;
  // margin-left: 30px;
  // flex-basis: calc((100% - 30px * 4) / 4);

  &::before {
    display: block;
    margin-bottom: 30px;
    border-radius: 4px;
    content: '';
    height: 120px;
    background: var(--secondary-btn-bg);
    background-repeat: no-repeat;
    background-position: center;
  }

  @media screen and (min-width: 768px) {
    margin-top: 30px;
    margin-left: 30px;
    flex-basis: calc((100% - 30px * 2) / 2);
  }

  @media screen and (min-width: 1200px) {
    margin-top: 30px;
    margin-left: 30px;
    flex-basis: calc((100% - 30px * 4) / 4);
  }
}

.features__item:not(:last-child) {
  @media screen and (max-width: 767.89px) {
    margin-bottom: 30px;
  }
}

.icon-antenna::before {
  background-image: url(../images/icon/antenna.svg);
}

.icon-clock::before {
  background-image: url(../images/icon/clock.svg);
}

.icon-diagram::before {
  background-image: url(../images/icon/diagram.svg);
}

.icon-astronaut::before {
  background-image: url(../images/icon/astronaut.svg);
}
