/* Футер */
.footer {
  background: var(--accent-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer__list {
  display: flex;

  @media screen and (max-width: 767px) {
    flex-direction: column;

    text-align: center;
  }

  @media screen and (min-width: 768px) {
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px;

    justify-content: center;
  }
  @media screen and (min-width: 1200px) {
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px;
    align-items: baseline;
  }
}

.footer__item:not(:last-child) {
  @media screen and (max-width: 1199.89px) {
    margin-bottom: 60px;
  }
}

.footer__item {
  @media screen and (max-width: 767px) {
    width: 100%;
  }

  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 2);
    align-items: baseline;
    text-align: center;
    justify-content: center;

    &:last-child {
      flex-basis: 450px;
    }
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((50% - 45px) / 2);
    text-align: left;

    &:last-child {
      flex-basis: calc(50% - 15px);
      justify-content: right;
      margin-left: auto;
      text-align: left;
    }
  }
}

.footer__topic {
  margin-bottom: 20px;
}

.footer__logo {
  display: block;
  margin-bottom: 20px;

  @media screen and (max-width: 767px) {
    text-align: center;
  }
}
