.footer-form {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    text-align: right;
  }
}
.footer-form__input {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;

  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;

  &::placeholder {
    font-size: 16px;
    line-height: 1.25;
    align-items: center;
    color: rgba(255, 255, 255, 0.6);
  }
}

.footer-form__input {
  @media screen and (max-width: 767px) {
    margin-bottom: 20px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 12px;
  }
}
