/* Шапка */
.header {
  position: relative;
  background: var(--header-bg);
  border-bottom: 1px solid var(--header-border);
}
.header__container {
  display: flex;
  align-items: center;
}

.header__logo {
  margin-right: 93px;
}
