/* Герой */
.hero {
  color: var(--accent-text-color);
  text-align: center;
}
.overlay {
  padding-top: 118px;
  padding-bottom: 118px;
  height: 400px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;

  background-color: #c4c4c4;
  background-repeat: no-repeat;
  background-position: center;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/desktop/img_hero_desktop.jpg);

  @media screen and (max-width: 767.98px) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/mobile/img_hero_mobile.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/mobile/img@2x_hero_mobile.jpg);
    }
  }

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/tablet/img_hero_tablet.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/tablet/img@2x_hero_tablet.jpg);
    }
  }

  @media screen and (min-width: 1200px) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/desktop/img_hero_desktop.jpg);
    padding-top: 200px;
    padding-bottom: 200px;
    height: 600px;

    @media screen and (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/desktop/img@2x_hero_desktop.jpg);
    }
  }
}

// @media (min-device-pixel-ratio: 2),
//   (-webkit-min-device-pixel-ratio: 2),
//   (min-resolution: 192dpi),
//   (min-resolution: 2dppx) {
//   background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
//     url(../images/desktop/img@2x_hero_desktop.jpg);
// }

.hero__title {
  margin-top: 0px;
  margin-bottom: 30px;
  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  @media screen and (max-width: 1199.98px) {
    font-size: 26px;
    line-height: 1.61;
  }
  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.36;
  }
}
