.button-menu {
  position: absolute;
  top: 10px;
  right: 15px;
  //   position: relative;
  z-index: 150;
  display: inline-block;
  margin: 0;
  padding: 0;
  border: none;

  background-color: transparent;
  margin-left: auto;

  @media screen and (min-width: 768px) {
    display: none;
  }
}
.button-menu {
  &:focus .icon-menu,
  &:hover .icon-menu {
    fill: var(--accent-color);
  }
}

.button-menu {
  &:focus .icon-close-menu,
  &:hover .icon-close-menu {
    fill: var(--accent-color);
  }
}

.icon-close-menu {
  display: none;
}

.button-menu.is-open .icon-close-menu {
  display: block;
}

.button-menu.is-open .icon-menu {
  display: none;
}

.mobile-menu {
  position: absolute;

  display: none;
  width: 100%;
  height: 100vh;
  min-height: 810px;
  top: 0;
  left: 0;

  padding: 48px 40px;
  // overflow-y: scroll;
  // left: 0;
  background: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  z-index: 100;
  &.is-open {
    display: block;
  }
}

.mobile-nav {
  margin-bottom: 300px;
}
.mobile-nav__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-nav__link {
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  text-decoration: none;

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.mobile-nav__link.current {
  color: var(--accent-color);
}

.contacts-mobile__item:not(:last-child) {
  margin-bottom: 32px;
}

.contacts-mobile__item:last-child {
  margin-bottom: 64px;
}

.contacts-mobile__link {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.7;
  letter-spacing: 0.02em;

  color: #757575;
  text-decoration: none;
}
.link--first {
  font-size: 34px;
  line-height: 1.18;

  color: var(--accent-color);
}

.social-contacts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.social-contacts__item:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.social-contacts__item:not(:first-child) {
  padding-left: 10px;
}

.social-contacts__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;

  letter-spacing: 0.02em;

  color: var(--accent-color);
  text-decoration: none;
}
