/* Форма */

.modal-form__conteiner {
  padding: 40px;
  margin-left: auto;
  margin-right: auto;
}
.modal-form__title {
  margin-bottom: 12px;
  padding: 0px;
  font-family: Roboto;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  @media screen and (max-width: 1199.98px) {
  }
  @media screen and (min-width: 1200px) {
    line-height: 1.5;
  }
}
.modal-form__field {
  display: flex;
  flex-direction: column;
}

.modal-form__text {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.modal-form__icon-container {
  position: relative;
}
.icon-form {
  position: absolute;
  display: block;
  top: 11px;
  left: 12px;
  width: 18px;
  height: 18px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input {
  display: block;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 42px;
  margin-bottom: 10px;
  width: 100%;
  height: 100%;
  align-items: center;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), outline 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    border: 1px solid var(--accent-color);
    outline: 1px solid var(--accent-color);
  }
}

.modal-form__input:focus + .icon-form {
  fill: var(--accent-color);
}

.modal-form__comment {
  padding: 12px 16px;
  margin-bottom: 20px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), outline 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    border: 1px solid var(--accent-color);
    outline: 1px solid var(--accent-color);
  }
}

/* Чекбокс */

.checkbox__label {
  position: relative;
  display: inline-block;
  align-items: center;
  text-align: center;
  margin-bottom: 30px;
}
.checkbox {
  position: absolute;
  display: inline-block;
  left: 12px;
  top: 5px;

  width: 16px;
  height: 15px;
  background-image: url(../images/icon_form/checkoff.svg);
}

.checkbox__input {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.checkbox__input:checked + .checkbox {
  background-image: url(../images/icon_form/checkon.svg);
  fill: #ffffff;
  background-color: var(--accent-color);
}

.checkbox__text {
  @media screen and (max-width: 1199.98px) {
    padding-left: 36px;
    font-size: 14px;
    line-height: 1.7;
  }
  @media screen and (min-width: 1200px) {
    padding-left: 36px;
    font-size: 14px;
    line-height: 1.7;
  }
}
.checkbox__link {
  font-size: 14px;
  line-height: 1.7;
  color: var(--accent-color);
}
