/*Навигация*/
.site-nav {
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    display: flex;
  }
}
.site-nav__item:not(:last-child) {
  margin-right: 50px;
}
.site-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--accent-bg-color);
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.site-nav__link.current {
  color: var(--accent-color);
}

.site-nav__item {
  position: relative;
}
.site-nav__link.current::after {
  position: absolute;
  right: 0px;
  bottom: 0px;
  display: block;
  content: '';
  width: 100%;
  height: 4px;
  background: var(--accent-color);
  border-radius: 2px;
}
