/* Наша команда */

.team {
  background: var(--secondary-btn-bg);
  @media screen and (max-width: 1199.98px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team__container {
  padding-top: 30px;
  padding-bottom: 16px;
  background: var(--header-bg);
}
.team__list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px;
    margin-top: -30px;
    margin-left: -30px;
  }
}
.team__item {
  text-align: center;
  border-radius: 0px 0px 4px 4px;
  overflow: hidden;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 30px * 2) / 2);
    margin-top: 30px;
    margin-left: 30px;
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 30px * 4) / 4);
    margin-top: 30px;
    margin-left: 30px;
  }
}

.team__item:not(:last-child) {
  @media screen and (max-width: 767px) {
    margin-bottom: 30px;
  }
}

.team__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.9;
  color: var(--title-text-color);
}
