:root {
  --primari-text-color: #757575;
  --title-text-color: #212121;
  --accent-text-color: #ffffff;
  --accent-color: #2196f3;
  --accent-bg-color: #2f303a;
  --header-bg: #ffffff;
  --main-bg-color: #e5e5e5;
  --secondary-btn-bg: #f5f4fa;
  --accent-primari-btn-bg: #188ce8;
  --header-border: #ececec;
  --projects-description-border: #eeeeee;
  --icon-color: #afb1b8;
  --card-set-gap: 30px;
}
